.animal-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}

.animal-image {
  width: 400px;
  height: 400px;
  object-fit: contain;
  cursor: pointer; /* Add this line to indicate the image is clickable */
}

/* Remove the following styles if they're not needed for other purposes */
/*
.arrow-button {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.arrow-button.hidden {
  visibility: hidden;
}
*/